<div class="row">
  <div class="col-sm-3 center">

    <h2>Zarejestruj użytkownika</h2>
    <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, "Hasło" %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> minimalna liść znaków)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Potwóż hasło" %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :first_name, "Imie" %><br/>
          <%= f.text_field :first_name, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :last_name, "Nazwisko" %><br/>
          <%= f.text_field :last_name, autocomplete: "off" %>
        </div>


        <div class="actions">
          <%= f.submit "Zarejestruj się" %>
        </div>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>